<h1>Listado de Aves</h1>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre común</th>
                <th>Nombre científico</th>
                <th>País</th>
                <th>Zona</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ave of aves | async" >
                <app-detalle-ave [ave]='ave'></app-detalle-ave>
            </tr>
        </tbody>
    </table>

    <div>
        <button type="button" class="button btn-danger" (click)='deleteAves()'>Borrar todos</button>
    </div>
</div>